* {
  padding: 0;
  margin: 0;
}

.monitor--table-header {
  text-align: center;
  background-color: #ea80fc;
  color: #000000;
}

.monitor--table-body {
  text-align: center;
}

.monitor--table-body .true {
  background-color: #81fca2;
}

.monitor--table-body .false {
  background-color: #ff6969;
}

.zona-form--container {
  min-height: 500px;
  display: flex;
  align-content: center;
  justify-items: center;
  background-color: #eceff1;
  color: #000000;
}

.zona-form--form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.zona-form--items input.check {
  justify-self: flex-end;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}

.zona-form--items input:hover {
  background: #9faab7;
}

.zona-form--items input:checked {
  background: #40e0d0;
}

.zona-form--items input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
  color: #fff;
}

.zona-form--items input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  color: #fff;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}

.zona-form--items label {
  width: 200px;
  height: 20px;
}

.zona-form--items .form-btn {
  width: 90px;
  background-color: #7c4dff;
  border-radius: 4px;
  color: #ffffff;
  margin: 0 15px 0;
}
.zona-form--container {
  justify-content: center;
}

.zona-form--container form {
  display: flex;
  flex-direction: column;
}

.monitor--agregar-button {
  width: 40px;
  height: 40px;
  font-size: 40px;
  line-height: 30px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: red;
}
.monitor--agregar-button a {
  text-decoration: none;
  color: white;
}

.monitor--agregar-button:hover {
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-size: 50px;
  line-height: 40px;
  border-radius: 25px;
  color: white;
}

.monitor--agregar-button a:hover {
  text-decoration: none;
  color: white;
}
.monitor--cierre-button {
  width: 70px;
  height: 30px;
  background-color: #7c4dff;
  color: white;
  border-radius: 5px;
}
.monitor--cierre-button a {
  color: #ffffff;
  font-weight: 500;
}

.container .monitor--filtro {
  width: 200px;
  height: 30px;
  padding: 15px;
  margin: 5px 0 10px 0;
}
.monitor--eliminar-button {
  width: 70px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

.monitor--eliminar-button a {
  color: white;
}

.monitor--eliminar-button a:hover {
  text-decoration: none;
  color: white;
}
.refresh {
  width: 80px;
  height: 40px;
  background-color: lawngreen;
  border-radius: 20px;
}

.container.d-flex {
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header--refresh-button {
  width: 20%;
  display: flex;
  justify-content: center;
}
.zona-form--input {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  font-size: 1.3rem;
}

.zona-form--container label {
  font-size: 1.2rem;
  font-weight: 500;
}

.zona-form--container .form-btn {
  background-color: #7c4dff;
  height: 7vh;
  border-radius: 4px;
  color: #ffffff;
  margin-top: 2vh;
}

.login-form--container {
  margin-bottom: 120px;

  background-color: #ea80fc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 9px 50px hsla(60, 1%, 26%, 0.31);
}

.container.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 625px;
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: "Vibur", cursive;
  /*   the main font */
  font-family: "Abel", sans-serif;
  opacity: 0.95;
  /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}
